body{
    background-image: url(cashRegister.jpg);
    font-weight: bold;
}
.main-container{
    text-align: center;
    margin: auto;
    border: 2px solid black;
    border-radius: 0.5rem;
    background-color: rgba(253, 253, 252, 0.685);
    width: 50%;
};




#message{
    font-size: x-large;
}
button{
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: auto;
    margin-top: 1rem;
    width:auto;
    margin-bottom: 1rem;
}
input{
    display: block;
    width: 50%;
    margin: auto;
    margin-top: 1rem;
    border: 1px solid black;
}
label{
    font-size: x-large;
}
#tableContainer{
    width: 50%;
    margin: auto;
    margin-top: 2%;
}
table{
    width:60%;
    margin: auto;
    visibility: hidden;
    background-color: rgb(255, 255, 253);
    border: 1px solid black;
}
table,tr,th,td{
    border:1px solid black;
    border-collapse: collapse;
}